# Supabase Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
# Server-side key (Private, do not prefix with VITE_)
SUPABASE_SERVICE_ROLE_KEY=
# Email Configuration
RESEND_API_KEY=
ADMIN_EMAIL=askipas62@gmail.com
VITE_APP_URL=
